<div class="wrapper wrapper-full-page">
    <div class="page-header" filter-color="black"
        style="background-image: url('./assets/img/Background.png'); background-size:cover; background-position: top center;">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="container">
            <div
                style="border: 1px;border-color: #8C410C;border-style: solid;height: 700px;width: 1200px;text-align: center;">
                <br>
                <!-- <img src="./assets/img/Department.jpg" height="550px"> -->
                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                    <div ngxSlickItem *ngFor="let image of images" class="slide">
                        <img src="{{ image.img }}" width="100%" height="500px">
                    </div>
                </ngx-slick-carousel>
                <br>
                <p
                    style="color: rgb(37, 37, 37);font-family:Georgia, 'Times New Roman', Times, serif;font-size: medium;font-weight: 600;text-align:center;">
                    Our task is to develop and monitor the implementation of social policy that both creates an enabling
                    environment for and leads to the reduction
                    in poverty. We ensure the provision of social protection and social welfare services to all people
                    who live in our land. We conduct research that develops the social indicators necessary for
                    programme implementation and public accountability.
                </p>
                <p
                    style="color: rgb(37, 37, 37);font-family:Georgia, 'Times New Roman', Times, serif;font-size: medium;font-weight: 600;text-align: center;">
                    We ensure the provision of social protection and social welfare services to all people who live in
                    our land.</p>
            </div>
            <br>
            <br>
            <div style="text-align: center;">
                <p style="font-weight: bold;color: black;font-size: xx-large;">Vision</p>
                <p style="color: black;font-size: large;">A caring and self-reliant society.</p>
            </div>
            <br>
            <br>
            <div style="text-align: center;">
                <p style="font-weight: bold;color: black;font-size: xx-large;">Mission</p>
                <p style="color: black;font-size: large;">To transform our society by building conscious and capable
                    citizens through the provision of comprehensive, integrated and sustainable social
                    development services.</p>
            </div>
            <br>
            <br>
            <div style="text-align: center;">
                <p style="font-weight: bold;color: black;font-size: xx-large;">Values</p>
                <p style="color: black;font-size: large;">The people we serve come first in performing our duties. We
                    will ensure equity and freedom from discrimination and harassment in the workplace
                    and in the services provided by our department. We will work in partnership with the people we serve
                    and with other stakeholders. We
                    will use the resources entrusted to us, to deliver on the Government's priorities in the most
                    efficient, effective and innovative ways. We will be
                    transparent and accountable for our decisions, actions and performance. We will share our knowledge
                    and expertise with other departments
                    and broader welfare sector and learn from them. In performing our duties; we will uphold the
                    Constitution of the republic of South Africa, the
                    laws governing the public service and the Code of Conduct for the Public Service.</p>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-6 ml-auto">
                    <p style="text-align: left;font-weight: bold;color: black;font-size: large;">The Department has the
                        following primary core
                        functions:</p>
                    <p style="color: black;font-size: large;">Management and oversight over social security,
                        encompassing
                        social assistance and social insurance policies that aim to prevent
                        and alleviate poverty in the event of life cycle risks such as loss of
                        income due to unemployment, disability, old age or death occurring.</p>
                    <br>
                    <p style="color: black;font-size: large;">Developmental social welfare services that provide support
                        to
                        reduce poverty, vulnerability and the impact of HIV and AIDS
                        through sustainable development programmes in partnership
                        with implementing agents such as State-funded institutions,
                        Non-Governmental Organisations (NGOs), Community-Based Organisations
                        (CBOs) and Faith-Based Organisations (FBOs).</p>
                </div>
                <div class="col-md-6 mr-auto">
                    <img src="./assets/img/flagFlying.png" width="500px" height="500px">
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col-md-6 ml-auto">
                    <img src="./assets/img/worldCup.png" width="500px" height="500px">
                </div>
                <div class="col-md-6 mr-auto">
                    <p style="font-weight: bold;color: black;font-size: large;">Strategy & Governance
                    </p>
                    <p style="font-weight: 500;color: black;font-size: large;">Purpose:
                    </p>
                    <p style="color: black;font-size: large;">
                        To render policy evaluation services for the DSD and contribute
                        to the monitoring of the strategic performance of the dept.
                    </p>
                    <p style="font-weight: 500;color: black;font-size: large;">Functions:
                    </p>
                    <p style="color: black;font-size: large;">
                        1.Manage the integration of special initiatives, especially the EPWP social sector plan into the
                        strategic priorities of the Department</p>
                    <p style="color: black;font-size: large;">
                        2.Comprehensive monitoring and evaluation of Department of Social Development programmes and
                        policies.</p>
                    <p style="color: black;font-size: large;">
                        3. Render policy evaluation services for the DSD and contribute to the monitoring of the
                        strategic performance of the Dept.</p>
                    <p style="color: black;font-size: large;">
                        4. Render Entity Performance and Oversight Management services for the DSD.</p>
                    <p style="color: black;font-size: large;">
                        5. Render Population and Development services.</p>

                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        <footer class="footer ">
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a style="color: #016000;font-weight: 900;font-size: medium;" href="https://www.dsd.gov.za/">
                                <u>Department of Social development</u>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right" style="color: #016000;font-weight: 900;">
                    &copy;
                    {{test | date: 'yyyy'}}, developed by
                    <a style="color: #016000;font-weight: 900;" href="https://www.terra.group/" target="_blank">Terra analytics.</a>
                </div>
            </div>
        </footer>
    </div>
</div>
<ngx-spinner bdColor="rgba(	237, 237, 237,0.8)" size="medium" color="black" type="ball-scale-multiple">
    <p style="font-size: 20px; color: black">Processing...</p>
</ngx-spinner>