<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Task</h4>
                    </div>
                    <div class=card-body>
                        <div *ngIf="actionTaken==0; else elseCon" class="row">
                            <div class="col-sm-4">
                                <mat-form-field appearance="standard">
                                    <mat-label>Comment</mat-label>
                                    <textarea matInput rows="1" [(ngModel)]="comment"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-2" *ngIf="pid>2">
                                <mat-form-field appearance="standard">
                                    <mat-label>Action Taken</mat-label>
                                    <mat-select [(value)]="actTakenID" (selectionChange)='onActionSelected($event)'>
                                        <mat-option *ngFor="let actTak of actionTakenAll" [value]="actTak.id">
                                            {{actTak.description}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-2" *ngIf="pid>2">
                                <mat-form-field appearance="standard">
                                    <mat-label>User</mat-label>
                                    <mat-select [(value)]="nextUserID" (selectionChange)='onUserSelected($event)'>
                                        <mat-option *ngFor="let accU of asgnUsers" [value]="accU.key">
                                            {{accU.value}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <button id="btnSearch" class="btn btn-primary mr-1" (click)="completeTask()">Complete</button>
                                <button id="btnReject" class="btn btn-primary" *ngIf="pid==1" (click)="rejectTask()">Reject</button>
                            </div>
                            <div class="col-sm-12" *ngIf="pid==1; else elseBlock">
                                    <app-userprofile-cmp [isParent]="false" [formData]="formData" (newItemEvent)="addItem($event)"></app-userprofile-cmp>
                                  </div>
                            <ng-template #elseBlock>
                                <app-indicatorapproval [isParent]="false" [formData]="formData" (newItemEvent)="addItem($event)"></app-indicatorapproval>
                            </ng-template>
                        </div>
                        <ng-template #elseCon>
                            <div class="row">
                                <div class="col-sm-12">No Task Found</div>
                            </div>
                          </ng-template>
                        <div class="card">
                            <div class="card-header bg-light">
                                <a class="card-link" data-toggle="collapse" href="#collapseworkf"
                                    aria-expanded="true">Task Details
                                </a>
                            </div>
                            <div id="collapseworkf" class="collapse">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table id="tblProcess" class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>User</th>
                                                        <th>Action Required</th>
                                                        <th>Action Taken</th>
                                                        <th>Posted On</th>
                                                        <th>Completed On</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let obj of taskArray;let i = index">
                                                        <td>{{ i+1 }}</td>
                                                        <td>{{ obj['userDescription'] }}</td>
                                                        <td>{{ obj['actionRequiredDescription'] }}</td>
                                                        <td>{{ obj['actionTakenDescription'] }}</td>
                                                        <td>{{ obj['postedOn'] }}</td>
                                                        <td>{{ obj['completedOn'] }}</td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(	237, 237, 237,0.8)" size="medium" color="black" type="ball-scale-multiple">
    <p style="font-size: 20px; color: black">Processing...</p>
</ngx-spinner>