<div class="main-content">
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="header text-center">
                <h3 class="title">Internal Data Connection</h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div style="text-align: left;">
                        <button class="btn btn-md" (click)="openDialogAdd()"
                          class="btn btn-md btn-primary">Add New Import</button>
                    </div>
                    <hr>
                   <kendo-grid [kendoGridBinding]="externalDataList" [navigable]="true" [filterable]="true"
                        [pageSize]="pageSize" [skip]="skip" [pageable]="true">
                        <kendo-grid-column field="connectionName" title="Connection Name"></kendo-grid-column>
                        <kendo-grid-column field="name" title="Type"></kendo-grid-column>
                        <kendo-grid-column title="Edit">
                            <ng-template kendoGridCellTemplate let-element>
                                <button mat-icon-button (click)="clickEdit(element)" *ngIf="DisableEditandDelete(element)">
                                    <mat-icon class="mat-14">edit</mat-icon>
                                </button>
                            </ng-template>
                        </kendo-grid-column>
                    </kendo-grid> 
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(	237, 237, 237,0.8)" size="medium" color="black" type="ball-scale-multiple">
    <p style="font-size: 20px; color: black">Processing...</p>
</ngx-spinner>
