<div [ngClass]="{'main-content' : isParent}">

    <div class="card">
        <div class="card-header bg-light">
            <a class="card-link" data-toggle="collapse" href="#collapse2" aria-expanded="true">User Detail</a>
        </div>
        <div id="collapse2" class="collapse show">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input matInput [value]="formData['fullName']" (input)="updateFormData()">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">

                        <mat-form-field appearance="outline">
                            <mat-label>Surname</mat-label>
                            <input matInput [(ngModel)]="formData['surname']" (input)="updateFormData()">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput [(ngModel)]="formData['email']" [disabled]="!isParent">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Cell Number</mat-label>
                            <input matInput [(ngModel)]="formData['phoneNumber']" (input)="updateFormData()">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Role Designation</mat-label>
                            <mat-select [(ngModel)]="formData['role']" (selectionChange)="updateFormData()">
                                <mat-option *ngFor="let rol of roles" [value]="rol.value">
                                    {{ rol.viewValue }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Role Type</mat-label>
                            <mat-select [(ngModel)]="formData['roleType']" (selectionChange)="updateFormData()">
                                <mat-option *ngFor="let type of roleTypes" [value]="type.value">
                                    {{ type.viewValue }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>Location Type</mat-label>
                            <mat-select [(ngModel)]="formData['locationType']" (selectionChange)="updateFormData()">
                                <mat-option *ngFor="let loc of locationType" [value]="loc.value"
                                    (click)="loadLocation(loc)">
                                    {{ loc.viewValue }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" *ngIf="isBranch">
                            <mat-label>Branch</mat-label>
                            <mat-select [(ngModel)]="formData['branch']" (selectionChange)="updateFormData()">
                                <mat-option *ngFor="let b of branch" [value]="b.value">
                                    {{ b.viewValue }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" *ngIf="isProvince">
                            <mat-label>Province</mat-label>
                            <mat-select [(ngModel)]="formData['provinceID']" (selectionChange)="updateFormData()">
                                <mat-option *ngFor="let p of provinces" [value]="p.nodeID" (click)="loadDistricts(p)">
                                    {{ p.nodeName }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" *ngIf="isDistrict">
                            <mat-label>District</mat-label>
                            <mat-select [(ngModel)]="formData['districtID']" (selectionChange)="updateFormData()">
                                <mat-option *ngFor="let d of districts" [value]="d.nodeID"
                                    (click)="loadServicePoints(d)">
                                    {{ d.nodeName }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" *ngIf="isSP">
                            <mat-label>Service Point</mat-label>
                            <mat-select [(ngModel)]="formData['servicePointID']" (selectionChange)="updateFormData()">
                                <mat-option *ngFor="let s of servicePoints" [value]="s.nodeID"
                                    (click)="loadFacilities(s)">
                                    {{ s.nodeName }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" *ngIf="isFac">
                            <mat-label>Facilities</mat-label>
                            <mat-select [(ngModel)]="formData['facilityID']" (selectionChange)="updateFormData()">
                                <mat-option *ngFor="let f of facilities" [value]="f.nodeID">
                                    {{ f.nodeName }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <!-- <div class="col-md-6">
                        <mat-form-field appearance="outline" *ngIf="false">
                            <mat-label>Location</mat-label>
                            <mat-select [(ngModel)]="formData['location']" (selectionChange)="updateFormData()">
                                <mat-option *ngFor="let city of cities" [value]="city.value">
                                    {{ city.viewValue }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>{{active}}</mat-label>
                            <!-- <input matInput type="checkbox" [value]="formData['active']" (input)="updateFormData()"> -->
                            <input matInput [hidden]="true" [(ngModel)]="formData['active']">
                            <mat-checkbox class="ml-4" [(ngModel)]="formData['active']" (input)="updateFormData()" style="float:right;">
                            </mat-checkbox>
                        </mat-form-field>
                    </div>
                    <!-- <div class="col-md-6">
                                <mat-form-field appearance="standard">
                                    <mat-label>Employee Number</mat-label>
                                    <input matInput [(ngModel)]="formData['employeeNo']" (input)="updateFormData()">
                                </mat-form-field>
                            </div>
                            <div class="col-md-12">
                                <mat-form-field appearance="standard">
                                    <mat-label>Service Point</mat-label>
                                    <input matInput [(ngModel)]="formData['servicePoint']" (input)="updateFormData()">
                                </mat-form-field>
                            </div>
                            <div class="col-md-12">
                                <mat-form-field appearance="standard">
                                    <mat-label>Address</mat-label>
                                    <textarea matInput rows="3" [(ngModel)]="formData['address']" (input)="updateFormData()"></textarea>
                                </mat-form-field>
                            </div> -->
                     <div class="col-md-6"></div> 
                    <div class="row">
                        <div class="col-md-6 ml-auto" *ngIf="isButtonVisible">
                            <button id="btnSave" class="btn btn-primary ml-1" (click)='updateUser()'>Update</button>
                        </div>
                        <div class="col-md-6 mr-auto" *ngIf="isButtonVisibleAccess">
                            <button id="btnAccess" class="btn btn-primary mr-1"
                                (click)="clickEditAccess(formData)">Access</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>