<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
          <div class="card">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon">
                <i class="material-icons">category</i>
              </div>
              <h4 class="card-title">Form Categories</h4>
            </div>
            <div class="card-body p-2">
              <div class="row">
                <div class="col">
                    <div style="text-align: left;">
                        <hr>
                        <button class="btn btn-md btn-primary"   
                            (click)="openDialogAdd()">Add New Category</button>
                    </div>
                    <hr>              
                    <kendo-grid [kendoGridBinding]="formCategoryList" [pageSize]="10" [pageable]="true" [height]="700" 
                    [filterable]="true" [sortable]="true" [groupable]="true" (pageChange)="onPageChange($event)">
           
                     <kendo-grid-column field="name" title="Form Category Name" [width]="12">
                     </kendo-grid-column>
           
                     <kendo-grid-column field="description" title="Description" [width]="12">
                     </kendo-grid-column>
           
                     <kendo-grid-column [width]="1">
                       <ng-template kendoGridCellTemplate let-dataItem>
                        <button mat-icon-button (click)="clickEdit(dataItem)">
                            <mat-icon matTooltip="Update" class="mat-18" style="color:#bf7c00;">edit</mat-icon>
                        </button>
                       </ng-template>
                     </kendo-grid-column>

                     <kendo-grid-column [width]="1">
                      <ng-template kendoGridCellTemplate let-dataItem>
                       <button mat-icon-button (click)="clickDelete(dataItem)">
                           <mat-icon matTooltip="Delete" class="mat-18" style="color: red;">delete</mat-icon>
                       </button>
                      </ng-template>
                    </kendo-grid-column>
           
                     <kendo-grid-pdf fileName="formCategory.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
                     <!-- <kendo-grid-excel fileName="FormInbox.xlsx"></kendo-grid-excel> -->
                     <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                      <kendo-pager-prev-buttons></kendo-pager-prev-buttons>             
                      <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
                      <kendo-pager-next-buttons></kendo-pager-next-buttons>
                      <kendo-pager-page-sizes [pageSizes]="pageSizes"></kendo-pager-page-sizes>
                      <kendo-pager-info></kendo-pager-info>
                      Current page: {{currentPage}}
                   </ng-template>
                   </kendo-grid>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<ngx-spinner bdColor="rgba(	237, 237, 237,0.8)" size="medium" color="black" type="ball-scale-multiple">
    <p style="font-size: 20px; color: black">Processing...</p>
</ngx-spinner>