<div class="main-content">
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="header text-center">
                <h3 class="title" style="font-weight: bold;">Form Categories</h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div style="text-align: left;">
                        <button class="btn btn-md btn-primary"   
                            (click)="openDialogAdd()">Add New Category</button>
                    </div>
                    <hr>              
                    <kendo-grid [kendoGridBinding]="formCategoryList" [pageSize]="10" [pageable]="true" [height]="700" 
                    [filterable]="true" [sortable]="true" [groupable]="true">
                     <ng-template kendoGridToolbarTemplate>
                       <kendo-grid-spacer></kendo-grid-spacer>
                       <!-- <button kendoGridExcelCommand type="button" icon="file-excel">
                         Export to Excel
                       </button> -->
                       <button kendoGridPDFCommand icon="file-pdf">Export to PDF</button>
                     </ng-template>
           
                     <kendo-grid-column field="name" title="Form Category Name" [width]="12">
                     </kendo-grid-column>
           
                     <kendo-grid-column field="description" title="Description" [width]="12">
                     </kendo-grid-column>
           
                     <kendo-grid-column [width]="1">
                       <ng-template kendoGridCellTemplate let-dataItem>
                        <button mat-icon-button (click)="clickEdit(dataItem)">
                            <mat-icon matTooltip="Update" class="mat-18" style="color: #016000;">edit</mat-icon>
                        </button>
                       </ng-template>
                     </kendo-grid-column>
           
                     <kendo-grid-pdf fileName="formCategory.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
                     <!-- <kendo-grid-excel fileName="FormInbox.xlsx"></kendo-grid-excel> -->
                   </kendo-grid>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(	237, 237, 237,0.8)" size="medium" color="black" type="ball-scale-multiple">
    <p style="font-size: 20px; color: black">Processing...</p>
</ngx-spinner>