<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">User Workflow</h4>
          </div>
          <div class="card-body p-2">
            <div class="row">
              <div class="col-sm-2">
                <mat-form-field appearance="standard">
                  <mat-label>Version</mat-label>
                  <mat-select [(ngModel)]="sVersion">
                      <mat-option *ngFor="let prove of lookup['PROCESSVERSION'];" [value]="prove.key">
                          {{prove.value}}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field appearance="standard">
                  <mat-label>Province</mat-label>
                  <mat-select [(ngModel)]="sProvince">
                      <mat-option *ngFor="let prov of lookup['PROVINCE'];" [value]="prov.key">
                          {{prov.value}}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field appearance="standard">
                  <mat-label>Module</mat-label>
                  <mat-select [(ngModel)]="sModule">
                      <mat-option *ngFor="let modl of lookup['MODULE'];" [value]="modl.key">
                          {{modl.value}}
                      </mat-option>
                  </mat-select>
              </mat-form-field>
              </div>
              <div class="col-sm-4">
                <button id="btnSearch" class="btn btn-primary mr-1" (click)="getRecords()">Search</button>
                <button id="btnAddNewProcess" class="btn btn-primary" (click)="openModal()">Add New</button>
        
              </div>
            </div>
            <p *ngIf="!data"><em>Loading...</em></p>
            <table id="tblProcess" class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Province</th>
                  <th>Published Version</th>
                  <th>Date</th>
                  <th>Draft Version</th>
                  <th>Link</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let obj of data">
                  <td>{{ obj['ProcessId'] }}</td>
                  <td>{{ obj['Name'] }}</td>
                  <td>{{ obj['ProvinceName'] }}</td>
                  <td>{{ obj['PublishedVersion'] }}</td>
                  <td>{{ obj['DateCreated'] }}</td>
                  <td>{{ obj['DraftVersion'] }}</td>
                  <td><a [routerLink]="['/workflow']" [queryParams]="{ PID: obj['ProcessId'] }">Show Process</a></td>
                </tr>
              </tbody>
        
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal Header -->
<div class="modal fade" id="modalWindow" aria-modal="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add new process</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">×</button>
      </div>

      <!-- Modal body -->
      <div id="mModalbody" class="modal-body">
        <div id="dvNewProcess">
          <mat-form-field class="example-full-width">
            <input matInput type="text" id="txtProcessName" placeholder="Process Name" [(ngModel)]="procName">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <textarea matInput id="txtDescription" placeholder="Description" [(ngModel)]="procDesc"></textarea>
          </mat-form-field>
          
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary close-button" data-dismiss="modal" (click)="closeModal()">Close</button>
        <button id="AddNewProcess" type="button" class="btn btn-primary add-process-button ml-2" (click)="createNewProcess()">Add Process</button>
      </div>

    </div>
  </div>
</div>
