<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
          <div class="card">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon">
                <i class="material-icons">assignment</i>
              </div>
              <h4 class="card-title">Roles</h4>
            </div>
            <div class="card-body p-2">
              <div class="row">
                <div class="col-md-8">
                    <mat-form-field appearance="standard">
                        <mat-label>Add New Role</mat-label>
                        <input matInput type="text" [(ngModel)]="roleName" (input)="validateControl()">
                    </mat-form-field>
                    <span class="text-danger">{{ errorMessage }}</span>
                </div>
                
                <div class="col-md-4">
                  <button id="btnSearch" class="btn btn-primary mr-1" (click)='addRole()' [disabled]="!isValid">Add Role</button>
          
                </div>
              </div>
              <p *ngIf="!data"><em>Loading...</em></p>
              <table id="tblProcess" class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Role</th>
                    <th>No of Users</th>
                    <th>Menus</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let obj of data;let i = index">
                    <td>{{ i+1 }}</td>
                    <td>{{ obj['role'] }}</td>
                    <td><span class="badge badge-primary" onclick="clickEdit(obj)" >{{ obj['users'] }}</span></td>
                    <td>
                      <button mat-icon-button (click)="clickEdit(obj)">
                      <mat-icon class="mat-18">edit</mat-icon>
                      </button>
                  </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  