<div class="main-content">
    <div class="container-fluid">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 ml-auto mr-auto">
            <div class="card">
              <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">assignment</i>
                </div>
                <h4 class="card-title">Roles</h4>
              </div>
              <div class="card-body">
                <div class="row">
                  <kendo-grid [kendoGridBinding]="data" [pageSize]="10" [pageable]="true" [height]="700" 
                    [filterable]="true" [sortable]="true" [groupable]="false">
        
                  <kendo-grid-column field="role" title="Role" [width]="4">
                  </kendo-grid-column>
        
                  <kendo-grid-column field="users" title="Users" [width]="2">
                  </kendo-grid-column>
                  
                  <kendo-grid-column [width]="1">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <button mat-icon-button (click)="clickEditAccess(dataItem)">
                          <mat-icon matTooltip="Update" class="mat-18" style="color: #016000;">edit</mat-icon>
                      </button>
                    </ng-template>
                  </kendo-grid-column>
        
                  <!-- <kendo-grid-pdf fileName="formCategory.pdf" [repeatHeaders]="true"></kendo-grid-pdf> -->
                  <!-- <kendo-grid-excel fileName="FormInbox.xlsx"></kendo-grid-excel> -->
                </kendo-grid>
                </div>

                <div class="row">
                  
                <!-- </div>
                <p *ngIf="!data"><em>Loading...</em></p>
                <table id="tblProcess" class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Designation</th>
                      <th>No of Users</th>
                      <th>Access</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let obj of data;let i = index">
                      <td>{{ i+1 }}</td>
                      <td>{{ obj['role'] }}</td>
                      <td><span class="badge badge-primary" onclick="clickEdit(obj)" >{{ obj['users'] }}</span></td>
                      <td>
                        <button mat-icon-button (click)="clickEditAccess(obj)">
                        <mat-icon class="mat-18">edit</mat-icon>
                        </button>
                    </td>
                    </tr>
                  </tbody>
                </table> -->
              </div>

            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
</div>
  
  