.radio {

  display: inline-flex;

  flex-direction: row;

  margin-left: 8px;

  color: black !important;
}

.checkbox {

  display: inline-flex;

  flex-direction: row;

  margin-left: 8px;

  color: black !important;
}

.mat-toolbar-single-row {
  height: auto !important;
  background: transparent;
}

.mat-toolbar-single-row button {
  width: 200px;
}

#uploadFile {
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9;
  opacity: 0;
  height: 100%;
  cursor: pointer;
  position: absolute;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.signature-container {
  border-style: dotted;
  border-width: 1px;
  margin-bottom: 20px;
  background-color: rgb(213, 242, 255);
}

table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

th.mat-header-cell {
  text-align: left;
  font-weight: 500;
  font-size: medium;
  color: black;
  max-width: 300px;
}

td.mat-cell {
  white-space: normal;
  word-wrap: break-word;
  max-width: 200px;
}

#uploadFile {
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9;
  opacity: 0;
  height: 100%;
  cursor: pointer;
  position: absolute;
}

#uploadPhoto {
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9;
  opacity: 0;
  height: 100%;
  cursor: pointer;
  position: absolute;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.table tr.active td {
  background-color: #befdfd !important;
  color: black;
}

.disabled-pointer {
  pointer-events: none;
}

::ng-deep .select {
  height: 58px !important;
  border-radius: 5px !important;
}

::ng-deep .k-grid tr.k-alt {
  background-color: #e8ccb02b;
}

::ng-deep .k-grid-header {
  background-color: #e8ccb02b;
}

::ng-deep .k-pager-wrap {
  background-color: white;
}


/* 
      ::ng-deep .mat-select-panel .custom_hover.mat-option.mat-selected:not(.mat-option-multiple) {
        background: #fff;
      }
      
      ::ng-deep .mat-select-panel .custom_hover.mat-option.mat-selected:not(.mat-option-multiple):hover {
        background: rgba(0, 0, 0, 0.04);
      } */

/* ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
        color: navy !important;
      } */