<h1 mat-dialog-title *ngIf="formCategoryAdd.formCategoryID==0">Add Form Category</h1>
<h1 mat-dialog-title *ngIf="formCategoryAdd.formCategoryID!=0">Edit Form Category</h1>
<div mat-dialog-content>
    <div class="form-group">
        <label style="font-size: medium;">Category Name</label>
        <input type="text" class="form-control" value="{{formCategoryAdd.name}}" [(ngModel)]="formCategoryAdd.name">
    </div>
    <div class="form-group">
        <label style="font-size: medium;">Category Description</label>
        <input type="text" class="form-control" value="{{formCategoryAdd.description}}"
            [(ngModel)]="formCategoryAdd.description">
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button cdkFocusInitial (click)="addFormCategory()"
        style="background-color: crimson;color: white;font-weight: 400;" *ngIf="formCategoryAdd.formCategoryID==0">Add</button>
    <button mat-button cdkFocusInitial (click)="updateFormCategory()"
        style="background-color: crimson;color: white;font-weight: 400;" *ngIf="formCategoryAdd.formCategoryID!=0">Edit</button>
    <button mat-button [mat-dialog-close]=""
        style="background-color: crimson;color: white;font-weight: 400;">Cancel</button>
</div>
<ngx-spinner bdColor="rgba(	237, 237, 237,0.8)" size="medium" color="black" type="ball-scale-multiple">
    <p style="font-size: 20px; color: black">Processing...</p>
</ngx-spinner>