<h1 mat-dialog-title *ngIf="treeAdd.treeID==0">Tree Add</h1>
<h1 mat-dialog-title *ngIf="treeAdd.treeID!=0">Tree Edit</h1>
<div mat-dialog-content>
    <div class="form-group">
        <label style="font-size: medium;">Tree Name</label>
        <input type="text" class="form-control" value="{{treeAdd.name}}" [(ngModel)]="treeAdd.name">
    </div>
    <div class="form-group">
        <label style="font-size: medium;">Tree Description</label>
        <input type="text" class="form-control" value="{{treeAdd.description}}"
            [(ngModel)]="treeAdd.description">
    </div>

</div>
<div mat-dialog-actions>
    <button mat-button cdkFocusInitial (click)="addTree()"
        style="background-color: crimson;color: white;font-weight: 400;" *ngIf="treeAdd.treeID==0">Add</button>
    <button mat-button cdkFocusInitial (click)="updateTree()"
        style="background-color: crimson;color: white;font-weight: 400;" *ngIf="treeAdd.treeID!=0">Edit</button> 
    <button mat-button [mat-dialog-close]=""
        style="background-color: crimson;color: white;font-weight: 400;">Cancel</button>
</div>
<ngx-spinner bdColor="rgba(	237, 237, 237,0.8)" size="medium" color="black" type="ball-scale-multiple">
    <p style="font-size: 20px; color: black">Processing...</p>
</ngx-spinner>