.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

p {
  font-family: Lato;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  background-color: #f1f1f1;
}

table {
  width: 100%;
}

button {
  display: inline;
  margin: 4px;
}

.mat-form-field {
  width: 100%;
}

.containerlist {
  margin-top: 30px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.containers {
  height: 200px;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

flex-start .buttons-container {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.item-selected {
  background: rgb(211, 244, 126);
  color: rgb(184, 58, 58);
}

#control {
  background: #e9e9e9;
}

#headers {
  background: white;
}

#buttonstyle {
  background-color:#bf7c00;
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  flex: 1;
  width: 158px;
}

#buttonsdiv {
  margin-top: -10px;
  min-height: 40px;
}

span.name {
  color: #FF0000;
  font-weight: bold;
  font-family: Tahoma;
  font-size: 20
}

/* mat-list-option {
  max-height: 400px;
  overflow: auto;
} */

::ng-deep .k-grid tr.k-alt {
  background-color: #e8ccb02b;
}

::ng-deep .k-grid-header
{
  background-color: #e8ccb02b;
}

::ng-deep .k-pager-wrap {
  background-color: white;
}