<div mat-dialog-content>
    <div>
        <table class="table table-strapped">
            <tr>
                <td *ngFor="let key of keys">{{key}}</td>
            </tr>
            <tr *ngFor="let item of TableDataArray">
                <ng-container *ngFor="let key of keys">
                    <td>{{item[key]}}</td>
                </ng-container>
            </tr>
        </table>
    </div>
    <div>
        <button mat-button [mat-dialog-close]="" id="tablebutton" class="btn btn-md btn-primary">Back</button>
    </div>
</div>