
<div class="wrapper wrapper-full-page">
  <div class="page-header login-page" style="background-image: url('./assets/img/Reg.png'); background-size: cover; background-position: top center;" >
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="container">    
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
          <form class="form" [formGroup]="formModel" method="" action="" (submit)="onSubmit()">
            <div class="card card-login" style="background-color: #ffffff">
              <div class="card-header card-header-primary text-center">
                <h4 class="card-title">Log in</h4>
                <!-- <div class="social-line">
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                    <i class="fa fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </div> -->
              </div>
              <div class="card-body">
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons" style="color: #000000c4;">email</i>
                      </span>
                    </div>
                    <input type="email" class="form-control" placeholder="Email..." formControlName="UserName">
                  </div>
                </span>
                <span class="bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons" style="color: #000000c4;">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password..." formControlName="Password">
                  </div>
                </span>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary btn-round mt-4" [disabled]="!formModel.valid">Login</button>
                <p><a style="color: #016000;" [routerLink]="['/resetpassword']">Forgot Password?</a></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer class="footer ">
      <div class="container">
        <nav class="pull-left">
          <ul>
            <li>
              <a style="color: #016000;font-weight: 900;" href="https://www.dsd.gov.za/">
                Department of Social development
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright pull-right" style="color: #016000;font-weight: 900;">
          &copy;
            {{test | date: 'yyyy'}}, developed by
          <a style="color: #016000;font-weight: 900;" href="https://www.terra.group/" target="_blank">Terra analytics.</a>
        </div>
      </div>
    </footer>
  </div>
</div>
<ngx-spinner bdColor="rgba(	237, 237, 237,0.8)" size="medium" color="black" type="ball-scale-multiple">
  <p style="font-size: 20px; color: black">Processing...</p>
</ngx-spinner>
