<nav #navbar class="navbar navbar-expand-lg navbar-transparent" color-on-scroll="500"
  style="background-image: url('./assets/img/HomeBanner.jpg');background-size: cover; background-position: top center;width:auto;height:8.5%;">
  <div class="container-fluid">
    <div class="navbar-wrapper" style="padding-left: 30%;">
      <p
        style="font-size:xx-large;font-weight:normal;color: rgb(150, 68, 0);font-family:Verdana, Geneva, Tahoma, sans-serif;">
        Electronic Monitoring and Evaluation
      </p>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#pablo" style="color: red;">
            <i class="material-icons">logout</i>
            <span style="color:rgb(150, 68, 0);">Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>