<div class="main-content">
    <div class="container-fluid">
      <div class="container-fluid">        
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                  <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">people_outline</i>
                    </div>
                    <h4 class="card-title">Holidays</h4>
                  </div>
                    <div class="card-body">
                      <div class="table-responsive">
                          
                      </div>
  
                    </div>
                </div>
            </div>
        </div>        
      </div>
    </div>
  </div>
  