<div class="wrapper wrapper-full-page">
  <div class="page-header register-page " filter-color="black">
    <!-- style="background-image: url('./assets/img/Reg.png'); background-size: cover; background-position: top center;"> -->
    <div class="container">
      <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
          <div class="card card-signup">
            <h2 class="card-title text-center">Register</h2>
            <div class="card-body">
              <form class="form" [formGroup]="formModel" method="" action="" (submit)="onSubmit()">
                <div class="row">
                  <div class="col-md-5 ml-auto">
                    <div class="form-group has-default">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">face</i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Full Name..." formControlName="FullName">
                      </div>
                      <span class="text-danger ml-5"
                        *ngIf="formModel.get('FullName').touched && formModel.get('FullName').errors?.required">This
                        field is mandatory.</span>
                    </div>
                  </div>
                  <div class="col-md-5 mr-auto">
                    <div class="form-group has-default">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">face</i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Surname..." formControlName="Surname">
                      </div>
                      <span class="text-danger ml-5"
                        *ngIf="formModel.get('Surname').touched && formModel.get('Surname').errors?.required">This
                        field is mandatory.</span>
                    </div>
                  </div>
                  <div class="col-md-5 ml-auto">
                    <div class="form-group has-default">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">mail</i>
                          </span>
                        </div>
                        <input type="email" class="form-control" placeholder="Email..." formControlName="Email">
                      </div>
                      <span class="text-danger ml-5"
                        *ngIf="formModel.get('Email').touched && formModel.get('Email').errors?.required">This
                        field is mandatory.</span>
                      <span class="text-danger ml-5"
                        *ngIf="formModel.get('Email').touched && formModel.get('Email').errors?.email">Invalid
                        email address.</span>
                    </div>
                  </div>
                  <div class="col-md-5 mr-auto">
                    <div class="form-group has-default">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">call</i>
                          </span>
                        </div>
                        <input type="number" class="form-control" placeholder="Cell Number..." formControlName="PhoneNumber" maxlength="10" onKeyPress="if(this.value.length==10) return false;" >
                      </div>
                      <span class="text-danger ml-5"
                        *ngIf="formModel.get('PhoneNumber').touched && formModel.get('PhoneNumber').errors?.required">This
                        field is mandatory.</span>
                    </div>
                  </div>
                  <div class="col-md-5 ml-auto">
                    <div class="form-group has-default">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">accessibility</i>
                          </span>
                        </div>
                        <mat-select class="form-control" placeholder="Role..." formControlName="Role"  disableOptionCentering panelClass="myPanelClass">
                          <mat-option *ngFor="let role of roles" [value]="role.name">
                            {{ role.name }}
                          </mat-option>  
                        </mat-select>
                      </div>
                      <span class="text-danger ml-5"
                        *ngIf="formModel.get('Role').touched && formModel.get('Role').errors?.required">This
                        field is mandatory.</span>
                    </div>
                  </div>  
                  <div class="col-md-5 mr-auto">
                    <div class="form-group has-default">
                      <div class="input-group" *ngIf="false">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">accessibility</i>
                          </span>
                        </div>
                        <mat-select class="form-control" placeholder="Role Type..." formControlName="RoleType">
                          <mat-option *ngFor="let type of roleTypes" [value]="type.value">
                            {{ type.viewValue }}
                          </mat-option>
                        </mat-select>
                      </div>
                      <!-- <span class="text-danger ml-5"
                        *ngIf="formModel.get('RoleType').touched && formModel.get('RoleType').errors?.required">This
                        field is mandatory.</span> -->
                    </div>
                  </div>
                  <div class="col-md-5 ml-auto">
                    <div class="form-group has-default">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">accessibility</i>
                          </span>
                        </div>
                        <mat-select class="form-control" placeholder="Location Type..." formControlName="LocationType" >
                          <mat-option *ngFor="let loctype of locationType" [value]="loctype.value" (click)="loadLocation(loctype)" >
                            {{ loctype.viewValue }}
                          </mat-option>
                        </mat-select>
                      </div>                      
                      <span class="text-danger ml-5"
                        *ngIf="formModel.get('LocationType').touched && formModel.get('LocationType').errors?.required">This
                        field is mandatory.</span>
                    </div>
                  </div>
                  <div class="col-md-5 mr-auto">
                    <div class="form-group has-default">
                      <div class="input-group" *ngIf="isBranch">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">face</i>
                          </span>
                        </div>                        
                        <mat-select class="form-control" placeholder="Branch..." formControlName="Branch">
                          <mat-option *ngFor="let b of branch" [value]="b.value">
                            {{ b.viewValue }}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 ml-auto">
                    <div class="form-group has-default">
                      <div class="input-group" *ngIf="isProvince">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">face</i>
                          </span>
                        </div>                        
                        <mat-select class="form-control" placeholder="Province..." formControlName="ProvinceID">
                          <mat-option *ngFor="let b of provinces" [value]="b.nodeID" (click)="loadDistricts(b)">
                            {{ b.nodeName }}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 mr-auto">
                    <div class="form-group has-default">
                      <div class="input-group" *ngIf="isDistrict">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">face</i>
                          </span>
                        </div>                        
                        <mat-select class="form-control" placeholder="District..." formControlName="DistrictID">
                          <mat-option *ngFor="let b of districts" [value]="b.nodeID" (click)="loadServicePoints(b)">
                            {{ b.nodeName }}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5 ml-auto">
                    <div class="form-group has-default">
                      <div class="input-group" *ngIf="isSP">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">face</i>
                          </span>
                        </div>                        
                        <mat-select class="form-control" placeholder="Service Point..." formControlName="ServicePointID">
                          <mat-option *ngFor="let b of servicePoints" [value]="b.nodeID"  (click)="loadFacilities(b)">
                            {{ b.nodeName }}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>
                  </div> 
                  <div class="col-md-5 mr-auto">
                    <div class="form-group has-default">
                      <div class="input-group" *ngIf="isFac">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">face</i>
                          </span>
                        </div>                        
                        <mat-select class="form-control" placeholder="Facilities..." formControlName="FacilityID">
                          <mat-option *ngFor="let b of facilities" [value]="b.nodeID">
                            {{ b.nodeName }}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>
                  </div>                 
                  <div class="col-md-5 ml-auto">
                    <div class="form-group has-default">
                      <div class="input-group" *ngIf="false">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">accessibility</i>
                          </span>
                        </div>
                        <mat-select class="form-control" placeholder="Location..." formControlName="Location">
                          <mat-option *ngFor="let city of cities" [value]="city.nodeID">
                            {{ city.nodeName }}
                          </mat-option>
                        </mat-select>
                      </div>
                      <!-- <span class="text-danger ml-5"
                        *ngIf="formModel.get('Role').touched && formModel.get('Role').errors?.required">This
                        field is mandatory.</span> -->
                    </div>
                  </div>
                                     
                  <div class="col-md-5 mr-auto">
                    <div class="form-group has-default">
                      <div class="input-group"  *ngIf="programVisible">
                        <!-- <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">face</i>
                          </span>
                        </div>                        
                        <mat-select class="form-control" placeholder="Programme..." formControlName="Programme"  (selectionChange)="onProgChange($event)" multiple>
                          <mat-option *ngFor="let b of programmes" [value]="b.value">
                            {{ b.viewValue }}
                          </mat-option>
        
                        </mat-select> -->
                      </div>
                    </div>
                  </div>                                  
                  <div class="col-md-5 ml-auto" style="display: none;">
                    <div class="form-group has-default">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">lock_outline</i>
                          </span>
                        </div>
                        <input type="password" placeholder="Password..." class="form-control"
                          formControlName="Password">
                      </div>
                      <!-- <span class="text-danger ml-5"
                        *ngIf="formModel.get('Password').touched && formModel.get('Password').errors?.required">This
                        field is mandatory.</span>
                      <span class="text-danger ml-5"
                        *ngIf="formModel.get('Password').touched && formModel.get('Password').errors?.minlength">Minimum
                        4 characters required.</span> -->
                    </div>
                  </div>
                  <div class="col-md-5 mr-auto" style="display: none;">
                    <div class="form-group has-default">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">lock_outline</i>
                          </span>
                        </div>
                        <input type="password" placeholder="Confirm Password..." class="form-control"
                          formControlName="ConfirmPassword">
                      </div>
                      <!-- <span class="text-danger ml-5"
                        *ngIf="formModel.get('ConfirmPassword').touched && formModel.get('ConfirmPassword').errors?.required">This
                        field is mandatory.</span>
                      <span class="text-danger ml-5"
                        *ngIf="formModel.get('ConfirmPassword').touched && formModel.get('ConfirmPassword').errors?.passwordMismatch">Confirm
                        Password does not match.</span> -->
                    </div>
                  </div>
                  
                  <div class="col-md-5 ml-auto mr-auto" style="display: none;">
                    <div class="form-group has-default">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">face</i>
                          </span>
                        </div>
                        <input type="text" class="form-control" placeholder="Employee Number..." formControlName="EmployeeNo">
                      </div>
                    </div>
                  </div>                  
                  <div class="col-md-12">
                    <div class="text-center">
                      <!-- <button type="submit" class="btn btn-primary btn-round mt-4" [disabled]="!formModel.valid">Sign
                        Up</button> -->
                        <button type="submit" class="btn btn-primary btn-round mt-4">Sign
                          Up</button>
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer ">
      <div class="container">
        <nav class="pull-left">
          <ul>
            <li>
              <a href="https://www.dsd.gov.za/index.php/about">
                About Us
              </a>
            </li>
            <li>
              <a href="https://www.dsd.gov.za/index.php/contact-us">
                Contact Us
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright pull-right">
          &copy;
          {{test | date: 'yyyy'}}, powered by <i class="material-icons">public</i>
          <a href="https://www.creative-tim.com" target="_blank">Terra Analytics</a>
        </div>
      </div>
    </footer>
  </div>
</div>
<ngx-spinner bdColor="rgba(	237, 237, 237,0.8)" size="medium" color="black" type="ball-scale-multiple">
  <p style="font-size: 20px; color: black">Processing...</p>
</ngx-spinner>