    <div class="main-content">
        <div class="container-fluid">
          <div class="container-fluid">
            <div class="header text-center">
              <h3 class="title">Tree Diagram</h3>
            </div>
            <div class="row">
                <div class= "col-md-20">
                    <table class="table">    
                            <tr>
                                <!-- <td><button type="button" class="btn btn-success" title="Previous Page"><i class="fa fa-backward" *ngIf="divDsiplay" ></i><a href="/hierarchy-management" style="color: aliceblue;"> Previous page</a></button></td> -->
                                <td *ngIf="tdAddNode"><button class="btn btn-md" class="btn btn-md btn-primary"   (click)="openDialogAdd()"><i class="fa fa-plus" aria-hidden="true"></i> Add Node</button></td>
                                <td *ngIf="tdAddLevel"><button class="btn btn-md" class="btn btn-md btn-primary"   (click)="openDialogAddLevel()" ><i class="fa fa-plus" aria-hidden="true"></i> Add Level</button></td>
                                <td><button type="button" class="btn btn-success" title="Export To PDF" (click)="pdf.saveAs('Export.pdf')"><i class="fa fa-file" aria-hidden="true" ></i> Export To PDF</button></td>
                            </tr>
                    </table>
                </div>
            </div>
        
            <ng-template #template let-anchor>
              {{ anchor.nativeElement.innerText }}      
            </ng-template>
            
            <kendo-pdf-export #pdf paperSize="A3" [landscape] = true margin="2cm">
            
              <div kendoTooltip filter="span.k-in" [tooltipTemplate]="template">
            
                <kendo-treeview [nodes]="treenodes | async" textField="nodeName" kendoTreeViewFlatDataBinding [filterable]="true"
                  kendoTreeViewExpandable idField="nodeID" (selectionChange)="openDialogEdit($event)" parentIdField="nodeParentD" >
                </kendo-treeview>
              </div>
            
            </kendo-pdf-export>

              
            <!-- <kendo-treeview
            [nodes]="treenodes | async"
            textField="nodeName"                    
            kendoTreeViewFlatDataBinding
            [filterable]="true"
            kendoTreeViewExpandable
            (selectionChange)="openDialogEdit($event)"        
            idField="nodeID"
            parentIdField="nodeParentD">
          >
          </kendo-treeview> -->
      
          </div>
        </div>
    </div>
    
