
<div class="main-content">
    <div class="container-fluid">
      <div class="container-fluid">
        <!-- <div class="header text-center">
          <h3 class="title">Tree management</h3>
        </div> -->
        <div class="row">
            <div class= "col-md-12">
                <table class="table">    
                        <tr>
                            <td><button class="btn btn-md" class="btn btn-md btn-primary"   (click)="openDialogAdd()" *ngIf="divHide">Add New Tree</button></td>
                        </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">List of trees</h4>
                    </div>
                    <div class="card-body">
        
                        <div class="row">
                            <kendo-grid [kendoGridBinding]="service.hlist" [pageSize]="10" [pageable]="true"
                                [filterable]="true" [sortable]="true" [groupable]="false" >
        
                                <kendo-grid-column field="name" title="Name" [width]="6">
                                </kendo-grid-column>
        
                                <kendo-grid-column field="description" title="Description" [width]="6"> 
                                </kendo-grid-column>
        
                                <kendo-grid-column field="dateCreated" title="Date Created" [width]="6">
                                </kendo-grid-column>
        
                                <kendo-grid-column [width]="1">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <button mat-icon-button (click)="openViewTree(dataItem)">
                                            <mat-icon matTooltip="View Tree" class="mat-18"  style="color:#bf7c00;">remove_red_eye</mat-icon>
                                        </button>
                                    </ng-template>
                                </kendo-grid-column>

                                <kendo-grid-column [width]="1">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <button mat-icon-button (click)="openEditTree(dataItem)">
                                            <mat-icon matTooltip="Configure Tree" class="mat-18"  style="color:#bf7c00;">settings</mat-icon>
                                        </button>
                                    </ng-template>
                                </kendo-grid-column>
        
                                <kendo-grid-column [width]="1">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <button mat-icon-button (click)="clickEdit(dataItem)">
                                            <mat-icon matTooltip="Edit Tree Name" class="mat-18"  style="color:#bf7c00;">edit</mat-icon>
                                        </button>
                                    </ng-template>
                                </kendo-grid-column>

                                <kendo-grid-column [width]="1" *ngIf="divHide">
                                    <ng-template kendoGridCellTemplate let-dataItem>
                                        <button mat-icon-button (click)="clickDelete(dataItem)">
                                            <mat-icon matTooltip="Delete Tree" class="mat-18"  style="color: #ff0000;">delete</mat-icon>
                                        </button>
                                    </ng-template>
                                </kendo-grid-column>

                                <!-- <kendo-grid-pdf fileName="formCategory.pdf" [repeatHeaders]="true"></kendo-grid-pdf> -->
                                <!-- <kendo-grid-excel fileName="FormInbox.xlsx"></kendo-grid-excel> -->
                            </kendo-grid>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-md-12">
        
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th class="th">Name </th>
                            <th class="th">Description</th>
                            <th class="th">Date Created</th>
                            <th class="th">View Tree</th>
                            <th class="th">Configure Tree</th>
                            <th class="th">Edit Name</th>
                            <th class="th">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pd of service.hlist | paginate: { itemsPerPage: 10, currentPage: p }">
                            <td >{{pd.name}}</td>
                            <td >{{pd.description}}</td>
                            <td >{{pd.dateCreated | date:'yyyy-MM-dd'}}</td>
                            <td><button type="button"  (click)="openViewTree(pd)" class="btn btn-secondary"><i class="fa fa-eye" aria-hidden="true"></i></button></td>
                            <td><button type="button"  (click)="openEditTree(pd)" class="btn btn-secondary"><i class="fa fa-cog" aria-hidden="true"></i></button></td>
                            <td><button type="button" class="btn btn-secondary" (click)="clickEdit(pd)"><i class="fa fa-pencil" aria-hidden="true"></i></button></td>
                            <td><button type="button" class="btn btn-danger" (click)="clickDelete(pd)"><i class="fa fa-trash"  aria-hidden="true"></i></button></td>         
                        </tr>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </tbody>
                </table>
            </div>
        </div> -->
      </div>
    </div>
</div> 