<div class="main-content">
    <div class="container-fluid">
      <div class="container-fluid">
        <div class="header text-center">
          <h3 class="title">Tree management</h3>
        </div>
        <div class="row">
            <div class= "col-md-12">
                <table class="table">    
                        <tr>
                            <td><button class="btn btn-md" class="btn btn-md btn-primary"   (click)="openDialogAdd()">Add New Tree</button></td>
                        </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
        
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th class="th">Name </th>
                            <th class="th">Description</th>
                            <th class="th">Date Created</th>
                            <th class="th">View Tree</th>
                            <th class="th">Configure Tree</th>
                            <th class="th">Edit Name</th>
                            <th class="th">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pd of service.hlist | paginate: { itemsPerPage: 10, currentPage: p }">
                            <td >{{pd.name}}</td>
                            <td >{{pd.description}}</td>
                            <td >{{pd.dateCreated | date:'yyyy-MM-dd'}}</td>
                            <td><button type="button"  (click)="openViewTree(pd)" class="btn btn-secondary"><i class="fa fa-eye" aria-hidden="true"></i></button></td>
                            <td><button type="button"  (click)="openEditTree(pd)" class="btn btn-secondary"><i class="fa fa-cog" aria-hidden="true"></i></button></td>
                            <td><button type="button" class="btn btn-secondary" (click)="clickEdit(pd)"><i class="fa fa-pencil" aria-hidden="true"></i></button></td>
                            <td><button type="button" class="btn btn-danger" (click)="clickDelete(pd)"><i class="fa fa-trash"  aria-hidden="true"></i></button></td>         
                        </tr>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </tbody>
                </table>
            </div>
        </div>
      </div>
    </div>
</div> 