<div class="main-content">
    <div class="container-fluid">
      <div class="container-fluid">
        <!-- <div class="header text-center">
          <h3 class="title">Schedule Dates</h3>
          
        </div> -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                  <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">people_outline</i>
                    </div>
                    <h4 class="card-title">Scheduler</h4>
                  </div>
                    <div class="card-body">
                        <form class="form" [formGroup]="formModel"  method="" action="">
                            <div class="row">   
                              <div class="col-md-12">
                                <div class="form-group has-default">
                                  <div class="form-group">
                                      <legend>Financial Year</legend>                                                             
                                  </div>
                                </div>
                              </div> 

                              <div class="col-md-5 ml-auto">
                                <div class="form-group has-default">
                                  <div class="form-group">
                                 <!-- <legend>Financial Year</legend>  -->
                                    <mat-form-field appearance="outline">
                                      <mat-select formControlName="Year" [(ngModel)]="Year" >
                                        <mat-option *ngFor="let year of years" [value]="year.fy" (click)="loadYear(year)" >
                                          {{ year.fy }}
                                        </mat-option>
                                      </mat-select>  
                                    </mat-form-field>                              
                                  </div>
                                </div>
                              </div>  

                              <div class="col-md-5 ml-auto">
                                <div class="form-group has-default">
                                  <div class="form-group">
                                    <button  (click)="InsertFinancialPeriods()" class="btn btn-md btn-primary">Add Financial Year</button>                   
                                  </div>
                                </div>
                              </div>  
                                                           
                              <div class="col-md-5 ml-auto" >
                                <div class="form-group has-default">
                                  <div class="input-group">                                    
                                    Start Date
                                    <mat-form-field appearance="outline"> 
                                        <input matInput [matDatepicker]="start"  (click)="start.open()"  formControlName="Start" [(ngModel)]="StartDate">
                                        <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
                                        <mat-datepicker #start></mat-datepicker>
                                    </mat-form-field>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-5 mr-auto" >
                                <div class="form-group has-default">
                                  <div class="input-group">
                                    End Date
                                    <mat-form-field appearance="outline"> 
                                        <input matInput [matDatepicker]="end"  (click)="end.open()" formControlName="End" [(ngModel)]="EndDate">
                                        <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
                                        <mat-datepicker #end></mat-datepicker>
                                    </mat-form-field>
                                  </div>
                                </div>
                              </div>


                              <div class="col-md-12">
                                <div class="form-group has-default">
                                  <div class="form-group">
                                    <legend>Financial Quarters</legend>                                                               
                                  </div>
                                </div>
                              </div> 

                              <div class="col-md-5 ml-auto" >
                                <div class="form-group has-default">
                                  <div class="input-group"> 
                                    <div class="input-group">
                                      Quarter 1 Start Date 
                                      <mat-form-field appearance="outline"> 
                                          <input matInput [matDatepicker]="startQ1"  formControlName="StartQ1" [(ngModel)]="StartQ1">
                                          <mat-datepicker-toggle matSuffix [for]="startQ1"></mat-datepicker-toggle>
                                          <mat-datepicker #startQ1></mat-datepicker>
                                      </mat-form-field>
                                    </div>
                                  </div>
                                </div>
                              </div> 
                              
                              <div class="col-md-5 mr-auto">
                                <div class="form-group has-default">
                                  <div class="input-group">
                                    <div class="input-group">
                                      Quarter 1 End Date
                                      <mat-form-field appearance="outline"> 
                                        <input matInput [matDatepicker]="endQ1" formControlName="EndQ1" [(ngModel)]="EndQ1">
                                        <mat-datepicker-toggle matSuffix [for]="endQ1"></mat-datepicker-toggle>
                                        <mat-datepicker #endQ1></mat-datepicker>
                                      </mat-form-field>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-5 ml-auto" >
                                <div class="form-group has-default">
                                  <div class="input-group"> 
                                    <div class="input-group">
                                      Quarter 2 Start Date 
                                      <mat-form-field appearance="outline"> 
                                          <input matInput [matDatepicker]="startQ2" formControlName="StartQ2" [(ngModel)]="StartQ2">
                                          <mat-datepicker-toggle matSuffix [for]="startQ2"></mat-datepicker-toggle>
                                          <mat-datepicker #startQ2></mat-datepicker>
                                      </mat-form-field>
                                    </div>
                                  </div>
                                </div>
                              </div> 
                              
                              <div class="col-md-5 mr-auto">
                                <div class="form-group has-default">
                                  <div class="input-group">
                                    <div class="input-group">
                                      Quarter 2 End Date
                                      <mat-form-field appearance="outline"> 
                                        <input matInput [matDatepicker]="endQ2" formControlName="EndQ2" [(ngModel)]="EndQ2">
                                        <mat-datepicker-toggle matSuffix [for]="endQ2"></mat-datepicker-toggle>
                                        <mat-datepicker #endQ2></mat-datepicker>
                                      </mat-form-field>
                                    </div>
                                  </div>
                                </div>
                              </div>
                                                           
                              <div class="col-md-5 ml-auto" >
                                <div class="form-group has-default">
                                  <div class="input-group"> 
                                    <div class="input-group">
                                      Quarter 3 Start Date 
                                      <mat-form-field  appearance="outline"> 
                                          <input matInput [matDatepicker]="startQ3" formControlName="StartQ3" [(ngModel)]="StartQ3">
                                          <mat-datepicker-toggle matSuffix [for]="startQ3"></mat-datepicker-toggle>
                                          <mat-datepicker #startQ3></mat-datepicker>
                                      </mat-form-field>
                                    </div>
                                  </div>
                                </div>
                              </div> 
                              
                              <div class="col-md-5 mr-auto">
                                <div class="form-group has-default">
                                  <div class="input-group">
                                    <div class="input-group">
                                      Quarter 3 End Date
                                      <mat-form-field appearance="outline"> 
                                        <input matInput [matDatepicker]="endQ3" formControlName="EndQ3" [(ngModel)]="EndQ3">
                                        <mat-datepicker-toggle matSuffix [for]="endQ3"></mat-datepicker-toggle>
                                        <mat-datepicker #endQ3></mat-datepicker>
                                      </mat-form-field>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-5 ml-auto" >
                                <div class="form-group has-default">
                                  <div class="input-group"> 
                                    <div class="input-group">
                                      Quarter 4 Start Date 
                                      <mat-form-field appearance="outline"> 
                                          <input matInput [matDatepicker]="startQ4" formControlName="StartQ4" [(ngModel)]="StartQ4">
                                          <mat-datepicker-toggle matSuffix [for]="startQ4"></mat-datepicker-toggle>
                                          <mat-datepicker #startQ4></mat-datepicker>
                                      </mat-form-field>
                                    </div>
                                  </div>
                                </div>
                              </div> 
                              
                              <div class="col-md-5 mr-auto">
                                <div class="form-group has-default">
                                  <div class="input-group">
                                    <div class="input-group">
                                      Quarter 4 End Date
                                      <mat-form-field appearance="outline"> 
                                        <input matInput [matDatepicker]="endQ4" formControlName="EndQ4" [(ngModel)]="EndQ4">
                                        <mat-datepicker-toggle matSuffix [for]="endQ4"></mat-datepicker-toggle>
                                        <mat-datepicker #endQ4></mat-datepicker>
                                      </mat-form-field>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-12">
                                <div class="text-right">
                                    <button  (click)="onSubmit()" class="btn btn-md btn-primary" *ngIf="btnSave">Save</button> 
                                    <button  (click)="onSubmitEdit()" class="btn btn-md btn-primary" *ngIf="btnEdit">Edit</button> 
                                </div>
                              </div>
                            </div>
                        </form>         
                    </div>
                </div>
            </div>
        </div>   
      </div>
    </div>
  </div>
  