<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">note_add</i>
            </div>
            <h4 class="card-title">Form Capture</h4>
          </div>
          <div class="card-body p-2">
            <div class="col">
              <div>
                <hr>
                <h6>Select a form below to capture:</h6>
                <mat-form-field appearance="outline" style="width: 500px;">
                  <mat-label>Form</mat-label>
                  <mat-select [(ngModel)]="formData.formID">
                    <mat-option *ngFor="let form of formList" [value]="form.formID">
                      {{form.displayName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <button class="btn btn-md" class="btn btn-md btn-primary" (click)="addForm()">Create Form</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(	237, 237, 237,0.8)" size="medium" color="black" type="ball-scale-multiple">
  <p style="font-size: 20px; color: black">Processing...</p>
</ngx-spinner>