<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">note_add</i>
            </div>
            <h4 class="card-title">Form Capture</h4>
          </div>
          <div class="card-body p-2" style="text-align:center;">
            <kendo-treelist [kendoTreeListFlatBinding]="data" [height]="700"  kendoTreeListExpandable idField="nodeID"
              parentIdField="nodeParentD" [filterable]="true" style="width: 100%">
              <kendo-treelist-column filter="text" [expandable]="true" field="nodeName" title="Location" [width]="50">
              </kendo-treelist-column>
              <kendo-treelist-column title="" [width]="20" [filterable]="false">
                <ng-template kendoTreeListCellTemplate  let-dataItem let-rowIndex="rowIndex">
                  <button *ngIf="dataItem.levelID==4264 && dataItem.completedForms>=1 " class="btn btn-sm" (click)="addForm(dataItem)" style="background-color: green;">Complete Form</button>
                  <button *ngIf="dataItem.levelID==4264 && dataItem.completedForms==0 " class="btn btn-sm" (click)="addForm(dataItem)" style="background-color: red;">Complete Form</button>
                  <label *ngIf="dataItem.levelID!=4264">({{dataItem.completedForms}}) Captured</label>
                </ng-template>
              </kendo-treelist-column>
            </kendo-treelist>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(	237, 237, 237,0.8)" size="medium" color="black" type="ball-scale-multiple">
  <p style="font-size: 20px; color: black">Loading...</p>
</ngx-spinner>