<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons">design_services</i>
            </div>
            <h4 class="card-title">Form Designs</h4>
          </div>
          <div class="card-body p-2">
            <div class="row">
              <div class="col">
                <hr>
                <div style="text-align: left;">
                  <button class="btn btn-md" class="btn btn-md btn-primary" (click)="openDialogAdd()">Add New
                    Design</button>
                </div>
                <hr>
                <kendo-grid [kendoGridBinding]="formList" [pageSize]="10" [pageable]="true" [height]="700"
                  [filterable]="true" [sortable]="true" [groupable]="true" (pageChange)="onPageChange($event)">

                  <kendo-grid-column field="displayName" title="Design Name" [width]="8">
                  </kendo-grid-column>

                  <kendo-grid-column field="formDescription" title="Description" [width]="8">
                  </kendo-grid-column>

                  <kendo-grid-column field="formCategory.name" title="Category" [width]="5">
                  </kendo-grid-column>

                  <kendo-grid-column [width]="2">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <button mat-icon-button (click)="openFormDesign(dataItem)">
                        <mat-icon matTooltip="Form Design" class="mat-18" style="color: #016000;">color_lens</mat-icon>
                      </button>
                    </ng-template>
                  </kendo-grid-column>

                  <kendo-grid-column [width]="2">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <button mat-icon-button (click)="clickEdit(dataItem)">
                        <mat-icon matTooltip="Update" class="mat-18" style="color: #016000;">edit</mat-icon>
                      </button>
                    </ng-template>
                  </kendo-grid-column>

                  <kendo-grid-column [width]="2">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <button mat-icon-button (click)="clickDelete(dataItem)">
                        <mat-icon matTooltip="Delete" class="mat-18" style="color: red;">delete</mat-icon>
                      </button>
                    </ng-template>
                  </kendo-grid-column>

                  <kendo-grid-pdf fileName="FormDesigns.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
                  <!-- <kendo-grid-excel fileName="FormInbox.xlsx"></kendo-grid-excel> -->
                  <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                    <kendo-pager-prev-buttons></kendo-pager-prev-buttons>             
                    <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
                    <kendo-pager-next-buttons></kendo-pager-next-buttons>
                    <kendo-pager-page-sizes [pageSizes]="pageSizes"></kendo-pager-page-sizes>
                    <kendo-pager-info></kendo-pager-info>
                    Current page: {{currentPage}}
                 </ng-template>
                </kendo-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(	237, 237, 237,0.8)" size="medium" color="black" type="ball-scale-multiple">
  <p style="font-size: 20px; color: black">Processing...</p>
</ngx-spinner>