<div class="main-content">
  <div class="container-fluid">
    <div class="container-fluid">
      <div class="header text-center">
        <h3 class="title" style="font-weight: bold;">Form Designs</h3>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div style="text-align: left;">
            <button class="btn btn-md" class="btn btn-md btn-primary"   
              (click)="openDialogAdd()">Add New Design</button>
          </div>
          <hr>
          <kendo-grid [kendoGridBinding]="formList" [pageSize]="10" [pageable]="true" [height]="700" [filterable]="true"
            [sortable]="true" [groupable]="true">
            <ng-template kendoGridToolbarTemplate>
              <kendo-grid-spacer></kendo-grid-spacer>
              <!-- <button kendoGridExcelCommand type="button" icon="file-excel">
              Export to Excel
            </button> -->
              <button kendoGridPDFCommand icon="file-pdf">Export to PDF</button>
            </ng-template>

            <kendo-grid-column field="displayName" title="Design Name" [width]="8">
            </kendo-grid-column>

            <kendo-grid-column field="formDescription" title="Description" [width]="8">
            </kendo-grid-column>

            <kendo-grid-column field="formCategory.name" title="Category" [width]="5">
            </kendo-grid-column>

            <kendo-grid-column [width]="2">
              <ng-template kendoGridCellTemplate let-dataItem>
                <button mat-icon-button (click)="openFormDesign(dataItem)">
                  <mat-icon matTooltip="Form Design" class="mat-18" style="color: #016000;">color_lens</mat-icon>
                </button>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column [width]="2">
              <ng-template kendoGridCellTemplate let-dataItem>
                <button mat-icon-button (click)="clickEdit(dataItem)">
                  <mat-icon matTooltip="Update" class="mat-18" style="color: #016000;">edit</mat-icon>
                </button>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column [width]="2">
              <ng-template kendoGridCellTemplate let-dataItem>
                <button mat-icon-button (click)="clickDelete(dataItem)">
                  <mat-icon matTooltip="Delete" class="mat-18" style="color: #016000;">delete</mat-icon>
                </button>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-pdf fileName="FormDesigns.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
            <!-- <kendo-grid-excel fileName="FormInbox.xlsx"></kendo-grid-excel> -->
          </kendo-grid>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(	237, 237, 237,0.8)" size="medium" color="black" type="ball-scale-multiple">
  <p style="font-size: 20px; color: black">Processing...</p>
</ngx-spinner>