

<div style="margin-left: -1%;">
    <button mat-icon-button color="warn" (click)="closePopup()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<!-- <h1 mat-dialog-title>Level Add</h1> -->
<div mat-dialog-content>
    <div class="form-group">
        <kendo-grid [kendoGridBinding]="LevelsList" [pageSize]="5" [pageable]="true"
            [filterable]="true" [sortable]="true" [groupable]="false" [resizable]="true">
            <kendo-grid-column field="levelName" title="Level Name" [width]="6">
            </kendo-grid-column>
            <kendo-grid-column field="levelDescription" title="Level Description" [width]="6">
            </kendo-grid-column>
            <kendo-grid-column [width]="1">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <button mat-icon-button (click)="clickEdit(dataItem)">
                        <mat-icon matTooltip="Edit" class="mat-18" style="color: #016000;">edit
                        </mat-icon>
                    </button>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column [width]="1">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <button mat-icon-button (click)="clickDelete(dataItem)">
                        <mat-icon matTooltip="Delete Tree" class="mat-18" style="color: #ff0000;">delete
                        </mat-icon>
                    </button>
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>
    </div>
    <div class="form-group">
        <label style="font-size: medium;">Level Name</label>
        <input type="text" class="form-control" value="{{levelAdd.levelName}}" [(ngModel)]="levelAdd.levelName">
    </div>
    <div class="form-group">
        <label style="font-size: medium;">Level Description</label>
        <input type="text" class="form-control" value="{{levelAdd.levelDescription}}"
            [(ngModel)]="levelAdd.levelDescription">
    </div>
   <div class="form-group">
        <mat-form-field appearance="outline">
            <mat-label>Level Type - Indicator</mat-label>
            <mat-select [(ngModel)]="levelAdd.isIndicator">
                <mat-option *ngFor="let c of Option" [value]="c.value">
                    {{c.text}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <!-- <div class="form-group" style="display:none" >
        <mat-form-field appearance="outline">
            <mat-label>Select Roles </mat-label>
            <mat-select [(ngModel)]="levelAdd.roleName">
                <mat-option *ngFor="let c of Roles" [value]="c.roleID">
                    {{c.roleName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div> -->
    
    <div class="form-group" *ngIf="divLevelAdd">
        <button  (click)="addLevel()"
        class="btn btn-md btn-primary"   >Add Level</button>
    </div>

    <div class="form-group" *ngIf="divLevelEdit">
        <button  (click)="editLevel()"
        class="btn btn-md btn-primary"  >Edit Level</button>
    </div>


    <div class="form-group"  *ngIf="divGridAttr">
        <kendo-grid [kendoGridBinding]="service.LevelMetadata" [pageSize]="5" [pageable]="true"
            [filterable]="true" [sortable]="true" [groupable]="false" [resizable]="true">

            <kendo-grid-column field="friendlyname" title="Field Name" [width]="6">
            </kendo-grid-column>

            <kendo-grid-column field="questionName" title="Question Name" [width]="6">
            </kendo-grid-column>

            <!-- <kendo-grid-column field="description" title="Description" [width]="6">
            </kendo-grid-column> -->

            <kendo-grid-column field="recognitionType" title="Field Type" [width]="6">
            </kendo-grid-column>

            <kendo-grid-column [width]="1" *ngIf="thEdit">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <button mat-icon-button (click)="clickEditAttritubes(dataItem)" *ngIf="DisableEditandDelete(dataItem)">
                        <mat-icon matTooltip="Edit" class="mat-18" style="color: #016000;">edit
                        </mat-icon>
                    </button>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column [width]="1" *ngIf="thDelete">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <button mat-icon-button (click)="clickDelete(dataItem)" *ngIf="DisableEditandDelete(dataItem)">
                        <mat-icon matTooltip="Delete" class="mat-18" style="color: #ff0000;">delete
                        </mat-icon>
                    </button>
                </ng-template>
            </kendo-grid-column>

        </kendo-grid>
    </div>

    <div class="form-group" *ngIf="divAttr">
    
        <h1 mat-dialog-title> Node Field Attributes</h1>
        <div class="form-group">
            <label style="font-size: medium;">Enter field name:</label>
            <input type="text" class="form-control" value="{{levelAdd.fieldName}}" [(ngModel)]="levelAdd.fieldName">
        </div>
        <div class="form-group">
            <label style="font-size: medium;">Question Name:</label>
            <input type="text" class="form-control" value="{{levelAdd.fieldQuestion}}" [(ngModel)]="levelAdd.fieldQuestion">
        </div>
    
        <div class="form-group">
            <label style="font-size: medium;">Description:</label>
            <input type="text" class="form-control" value="{{levelAdd.fieldDescription}}"
                [(ngModel)]="levelAdd.fieldDescription">
        </div>
        <div class="form-group" style="display:none">
            <label style="font-size: medium;">XML Name:</label>
            <input type="text" class="form-control" value="{{levelAdd.fieldXML}}" [(ngModel)]="levelAdd.fieldXML">
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline">
                <mat-label>Field Type</mat-label>
                <mat-select [(ngModel)]="levelAdd.levelfieldName" (selectionChange)="onUserfieldTypesChange($event)">
                    <mat-option *ngFor="let c of UserfieldTypes" [value]="c.fieldName">
                        {{c.fieldName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-group" *ngIf="divListValue">
            <label style="font-size: medium;">List Value</label>
            <input type="text" class="form-control" placeholder="Enter the values semi-colon(;) seperated"
                value="{{levelAdd.listValue}}" [(ngModel)]="levelAdd.listValue">
        </div>
        <div class="form-group" *ngIf="divLengthValidation">
            <label style="font-size: medium;">Max Length</label>
            <input type="number" class="form-control" value="{{levelAdd.lengthValidation}}"
                [(ngModel)]="levelAdd.lengthValidation">
        </div>
        <div class="form-group" *ngIf="divLengthReportUrl">
            <label style="font-size: medium;">Report Url</label>
            <input type="text" class="form-control" value="{{levelAdd.ReportUrl}}" [(ngModel)]="levelAdd.ReportUrl">
        </div>
        <div class="form-group">
            <label style="font-size: medium;">Tool Tip:</label>
            <input type="text" class="form-control" value="{{levelAdd.Tooltip}}" [(ngModel)]="levelAdd.Tooltip">
        </div>
        <div class="form-group">
            <input type="checkbox" id="fieldCompulsory" name="fieldCompulsory" value="{{levelAdd.fieldCompulsory}}"
                [(ngModel)]="levelAdd.fieldCompulsory">
            <label for="fieldCompulsory">Compulsory</label><br><br>
            <!-- <input type="checkbox" class="form-control" value="{{levelAdd.fieldCompulsory}}"
                    [(ngModel)]="levelAdd.fieldCompulsory">
                    <label style="font-size: medium;">Compulsory:</label> -->
        </div>
    
        <div class="form-group" >
            <button   (click)="addAttributes()" *ngIf="divAddAtrributes" 
                class="btn btn-md btn-primary"   >Add Attributes</button>
            <button  (click)="saveAttributes()" *ngIf="divEditAtrributes" 
              class="btn btn-md btn-primary"   >Edit Attributes</button>      
              &nbsp; 
            <button mat-button [mat-dialog-close]=""
              class="btn btn-md btn-primary"   >Cancel</button>
        </div>
        
<!--     
        <div mat-dialog-actions>
            <button mat-button cdkFocusInitial (click)="addAttributes()" class="btn btn-md btn-primary"
                [disabled]="isSubmitBtnDisabled">Add Attributes</button>
    
            <button mat-button [mat-dialog-close]="" class="btn btn-md btn-primary">Cancel</button>
        </div> -->
    
    
    </div>

  <ngx-spinner bdColor="rgba(	237, 237, 237,0.8)" size="medium" color="black" type="ball-scale-multiple">
      <p style="font-size: 20px; color: black">Processing...</p>
  </ngx-spinner>
</div>


