<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon">
              <i class="material-icons"></i>
            </div>
            <h4 class="card-title">Tasks</h4>
          </div>
          <div class="card-body">

            <div class="row">
              <kendo-grid  [kendoGridBinding]="data1" [pageSize]="10" [pageable]="true" [filterable]="true"
                [sortable]="true" [groupable]="false">

                <!-- <kendo-grid-column field="{{ i+1 }}" title="#" [width]="6">
                </kendo-grid-column> -->

                <kendo-grid-column field="actionDescription" title="Action Required" [width]="6">
                </kendo-grid-column>

                <kendo-grid-column field="processName" title="Process" filter="text" [width]="6">
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <a style="color:blue" [routerLink]="['/workflow']" [queryParams]="{ PID: dataItem.processID }">{{dataItem.processName}}</a>
                  </ng-template>
                </kendo-grid-column>

                <!-- <kendo-grid-column field="processName" title="Process" [width]="6">
                </kendo-grid-column> -->

                <kendo-grid-column field="PostedOn" title="PostedOn" [width]="6">
                </kendo-grid-column>

                <kendo-grid-column field="userName" title="User" [width]="6">
                </kendo-grid-column>

                <kendo-grid-column  title="Task" filter="text" [width]="6" [filterable]="false">
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <a  style="color:blue" [routerLink]="['/taskdetail']" [queryParams]="{ workflowid: dataItem.workflowID, taskid: dataItem.taskID }">View Task</a>
                  </ng-template>
                </kendo-grid-column>

              </kendo-grid>
            </div>

            <!-- <div class="row">
              <div class="col-md-12">
                <table id="tblProcess" class="table table-striped">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Action Required</th>
                      <th>Process</th>
                      <th>PostedOn</th>
                      <th>User</th>
                      <th>Task</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let obj of data1;let i = index">
                      <td>{{ i+1 }}</td>
                      <td>{{ obj['actionDescription'] }}</td>
                      <td><a [routerLink]="['/workflow']" [queryParams]="{ PID: obj['processID'] }">{{
                          obj['processName'] }}</a></td>
                      <td>{{ obj['postedOn'] }}</td>
                      <td>{{ obj['userName'] }}</td>
                      <td><a [routerLink]="['/taskdetail']"
                          [queryParams]="{ workflowid: obj['workflowID'], taskid: obj['taskID'] }">View Task</a></td>
                    </tr>
                  </tbody>

                </table>
              </div>

            </div> -->
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-chart" data-header-animation="true">
            <div class="ct-chart" id="websiteViewsChart"></div>
          </div>
          <div class="card-body">
            <div class="card-actions">
              <button mat-raised-button type="button" class="btn btn-danger btn-link fix-broken-card">
                <i class="material-icons">build</i> Fix Header!
              </button>
              <button mat-raised-button type="button" class="btn btn-info btn-link" matTooltip="Refresh"
                [matTooltipPosition]="'below'">
                <i class="material-icons">refresh</i>
              </button>
              <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="Change Date"
                [matTooltipPosition]="'below'">
                <i class="material-icons">edit</i>
              </button>
            </div>
            <h4 class="card-title">Report Access</h4>
            <p class="card-category">Number of Users Accessed Report Per Month</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> data as of today
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-chart" data-header-animation="true">
            <div class="ctgreen-chart" id="dailySalesChart"></div>
          </div>
          <div class="card-body">
            <div class="card-actions">
              <button mat-raised-button type="button" class="btn btn-danger btn-link fix-broken-card">
                <i class="material-icons">build</i> Fix Header!
              </button>
              <button mat-raised-button type="button" class="btn btn-info btn-link" matTooltip="Refresh"
                [matTooltipPosition]="'below'">
                <i class="material-icons">refresh</i>
              </button>
              <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="Change Date"
                [matTooltipPosition]="'below'">
                <i class="material-icons">edit</i>
              </button>
            </div>
            <h4 class="card-title">Forms Captured</h4>
            <p class="card-category">
              Monthly Form Statistics
            </p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> data as of today
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-chart" data-header-animation="true">
            <div class="ctorange-chart" id="completedTasksChart"></div>
          </div>
          <div class="card-body">
            <div class="card-actions">
              <button mat-raised-button type="button" class="btn btn-danger btn-link fix-broken-card">
                <i class="material-icons">build</i> Fix Header!
              </button>
              <button mat-raised-button type="button" class="btn btn-info btn-link" matTooltip="Refresh"
                [matTooltipPosition]="'below'">
                <i class="material-icons">refresh</i>
              </button>
              <button mat-raised-button type="button" class="btn btn-default btn-link" matTooltip="Change Date"
                [matTooltipPosition]="'below'">
                <i class="material-icons">edit</i>
              </button>
            </div>
            <h4 class="card-title">Completed Tasks</h4>
            <p class="card-category">Current Approvals Per Role</p> 
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> data as of today
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon">
                <i class="material-icons">weekend</i>
              </div>
              <p class="card-category">Bookings</p>
              <h3 class="card-title">184</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons text-danger">warning</i>
                <a href="#pablo">Get More Space...</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon">
                <i class="material-icons">equalizer</i>
              </div>
              <p class="card-category">Website Visits</p>
              <h3 class="card-title">75.521</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">local_offer</i> Tracked from Google Analytics
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons">store</i>
              </div>
              <p class="card-category">Revenue</p>
              <h3 class="card-title">$34,245</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">date_range</i> Last 24 Hours
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
                <i class="fa fa-twitter"></i>
              </div>
              <p class="card-category">Followers</p>
              <h3 class="card-title">+245</h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">update</i> Just Updated
              </div>
            </div>
          </div>
        </div>
      </div>
       -->
  </div>
</div>