<div class="main-content">
  <div class="container-fluid">
    <div class="container-fluid">
      <div class="header text-center">
        <h3 class="title">Form Inbox</h3>
        <kendo-grid [kendoGridBinding]="gridView" [pageSize]="10" [pageable]="true" [height]="700" 
         [filterable]="true" [sortable]="true" [groupable]="true">
          <ng-template kendoGridToolbarTemplate>
            <mat-form-field appearance="outline" style="width: 500px;">
              <mat-label>Select a form</mat-label>
              <mat-select>
                <mat-option *ngFor="let form of formList" (click)=filterForm(form.displayName) value="form.displayName">
                     {{form.displayName}}
                </mat-option>
              </mat-select>
          </mat-form-field>
            <kendo-grid-spacer></kendo-grid-spacer>
            <!-- <button kendoGridExcelCommand type="button" icon="file-excel">
              Export to Excel
            </button> -->
            <button kendoGridPDFCommand icon="file-pdf">Export to PDF</button>
          </ng-template>

          <kendo-grid-column field="dateSent" title="Date Sent" [width]="12">
          </kendo-grid-column>

          <kendo-grid-column field="timeSent" title="Time Sent" [width]="12">
          </kendo-grid-column>

          <kendo-grid-column field="formName" title="Form Name" [width]="15">
          </kendo-grid-column>

          <kendo-grid-column field="displayOne" title="{{DisplayOne}}" [width]="10">
          </kendo-grid-column>

          <kendo-grid-column field="displayableTwo" title="{{DisplayTwo}}" [width]="10">
          </kendo-grid-column>

          <kendo-grid-column field="geography" title="Geography" [width]="10">
          </kendo-grid-column>

          <kendo-grid-column field="sentBy" title="Sent By" [width]="18">
          </kendo-grid-column>

          <kendo-grid-column field="step" title="Step" [width]="10">
            <ng-template kendoGridCellTemplate let-dataItem>
              <a mat-button (click)="openFormDesign(dataItem,'0')"><u>{{dataItem.step}}</u></a>
            </ng-template>
          </kendo-grid-column>

          
          <kendo-grid-column field="formTemplateName" title="Form Name" [hidden]="true">
            <ng-template kendoGridGroupHeaderTemplate let-value="value">
              {{ value }} 
              <!-- ({{aggregates.formTemplateName.count}}) -->
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column [width]="12" title="Attachments">
            <ng-template kendoGridCellTemplate let-dataItem>
              <button mat-icon-button *ngIf="dataItem.commentCount!==0" (click)="openFormDesign(dataItem,'3')">
                <mat-icon class="mat-14" matTooltip="{{dataItem.commentCount}}">comment</mat-icon>
              </button>

              <button mat-icon-button *ngIf="dataItem.attachCount!==0" (click)="openFormDesign(dataItem,'2')">
                <mat-icon class="mat-14" matTooltip="{{dataItem.attachCount}}">attach_file</mat-icon>
              </button>

              <button mat-icon-button *ngIf="dataItem.photoCount!==0" (click)="openFormDesign(dataItem,'1')">
                <mat-icon class="mat-14" matTooltip="{{dataItem.photoCount}}">photo_camera</mat-icon>
              </button>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column [width]="5">
            <ng-template kendoGridCellTemplate let-dataItem>
              <button mat-icon-button (click)="clickDelete(dataItem)">
                <mat-icon class="mat-14">delete</mat-icon>
              </button>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-pdf fileName="FormInbox.pdf" [repeatHeaders]="true"></kendo-grid-pdf>
          <!-- <kendo-grid-excel fileName="FormInbox.xlsx"></kendo-grid-excel> -->
        </kendo-grid>
      </div>
    </div>
  </div>
  <ngx-spinner bdColor="rgba(	237, 237, 237,0.8)" size="medium" color="black" type="ball-scale-multiple">
    <p style="font-size: 20px; color: black">Processing...</p>
  </ngx-spinner>