<div class="main-content">
    <div class="container-fluid">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 ml-auto mr-auto">
                <div class="card">
                  <div class="card-header card-header-rose card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">people_alt</i>
                    </div>
                    <h4 class="card-title">List of users</h4>
                  </div>
                    <div class="card-body">

                      <div class="row">
                        <kendo-grid [kendoGridBinding]="userList" [pageSize]="10" [pageable]="true" [height]="700" 
                          [filterable]="true" [sortable]="true" [groupable]="false">
              
                        <kendo-grid-column field="fullName" title="First Name" [width]="5">
                        </kendo-grid-column>
              
                        <kendo-grid-column field="email" title="Email" [width]="5">
                        </kendo-grid-column>

                        
                        <kendo-grid-column field="province" title="Province" [width]="5">
                        </kendo-grid-column>
                        
                        
                        <kendo-grid-column field="roleName" title="Role Name" [width]="5">
                        </kendo-grid-column>
              
                        <kendo-grid-column [width]="1">
                          <ng-template kendoGridCellTemplate let-dataItem>
                            <button mat-icon-button (click)="clickEdit(dataItem)">
                                <mat-icon matTooltip="Update" class="mat-18" style="color:#bf7c00;">edit</mat-icon>
                            </button>
                          </ng-template>
                        </kendo-grid-column>
              
                        <!-- <kendo-grid-pdf fileName="formCategory.pdf" [repeatHeaders]="true"></kendo-grid-pdf> -->
                        <!-- <kendo-grid-excel fileName="FormInbox.xlsx"></kendo-grid-excel> -->
                      </kendo-grid>
                      </div>

                      <!-- <div class="table-responsive">
                          
                        <table mat-table [dataSource]="userList" matSort class="table">                          
              
                          <ng-container matColumnDef="userName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> FullName </th>
                            <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                          </ng-container>
              
                          <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                          </ng-container>

                          <ng-container matColumnDef="role">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Role </th>
                            <td mat-cell *matCellDef="let element"> {{element.roleName}} </td>
                          </ng-container>
              
                          <ng-container matColumnDef="update">
                            <th mat-header-cell *matHeaderCellDef> Update </th>
                            <td mat-cell *matCellDef="let element">
                              <button  (click)="clickEdit(element)" mat-raised-button type="button" class="btn btn-success">
                                <i class="material-icons">edit</i>
                              </button>
                            </td>
                          </ng-container>
              
              
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>     
                        </table>
                        
                          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                          aria-label="Select page of forms">
                        </mat-paginator>
                      </div>
                        <div class="table-responsive">
                            <table class="table">
                                    <thead>
                                        <tr>
                                          <th class="text-center">#</th>
                                          <th>Full Name</th>
                                          <th>Email</th>
                                          <th>Role</th>
                                          <th>Location</th>
                                          <th class="text-right">Action</th>
                                        </tr>
                                    </thead>
                                  <tbody>
                                      <tr *ngFor="let row of service.ulist">
                                          <td class="text-center">1</td>
                                          <td>{{row.userName}}</td>
                                          <td>{{row.email}}</td>
                                          <td>Admin</td>
                                          <td class="text-right">Gauteng</td>
                                          <td class="td-actions text-right">
                                              
                                              <button mat-raised-button type="button" class="btn btn-success {{row[5]}}">
                                                  <i class="material-icons">edit</i>
                                              </button>
                                          </td>
                                      </tr>
                                  </tbody>
                            </table>
  
                        </div>
   -->
                    </div>
                </div>
            </div>
        </div>
        
      </div>
    </div>
  </div>
  